
# ============================================
# Environment URLs
# ============================================
# Development API URL (default: https://dev.api.byzantine.fi)
DEV_API_URL=https://dev.api.byzantine.fi

# Production API URL (default: https://api.byzantine.fi)
PROD_API_URL=https://api.byzantine.fi

# ============================================
# Environment Selection
# ============================================
# Which environment to test against: production or development (default: development)
TEST_ENV=development

# ============================================
# Chain Selection
# ============================================
# Set `ETH` for Ethereum, `BASE` for Base (default to BASE)
CHAIN=BASE

# ============================================
# API INTEGRATOR Authentication
# ============================================
# dev
DEV_INTEGRATOR_PRIVATE_KEY=
# prod
# PROD_INTEGRATOR_PRIVATE_KEY=

# ============================================
# Feature Flags
# ============================================
ENABLE_WRITE_TESTS=true
ENABLE_PASSKEY_TESTS=true
ENABLE_PASSKEY_INIT_APPROVE_TESTS=true
ENABLE_PASSKEY_INIT_DEPOSIT_TESTS=false
ENABLE_PASSKEY_INIT_WITHDRAW_TESTS=false
ENABLE_PASSKEY_APPROVE_TX_TESTS=
ENABLE_PASSKEY_DEPOSIT_TX_TESTS=
ENABLE_PASSKEY_WITHDRAW_TX_TESTS=

ENABLE_OTP_TESTS=true
ENABLE_OTP_INIT_APPROVE_TESTS=true
ENABLE_OTP_INIT_DEPOSIT_TESTS=false
ENABLE_OTP_INIT_WITHDRAW_TESTS=false
ENABLE_OTP_APPROVE_TX_TESTS=
ENABLE_OTP_DEPOSIT_TX_TESTS=
ENABLE_OTP_WITHDRAW_TX_TESTS=


# ============================================
# Debugging
# ============================================
DEBUG_API=false

# ============================================
# Test data used in production testing mode (related to Bridge)
# ============================================
TEST_VAULT_ETH=
TEST_VAULT_BASE=

TEST_USER_ID=
TEST_ACCOUNT_ID=
TEST_ENTITY_ID=
TEST_ENTITY_ACCOUNT_ID=
TEST_TRANSACTION_ID=